

table {
    border-collapse: collapse;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
}

tbody{
    display: table-row-group;
}

th, td {
    min-width: 20px;
    border: 1px solid #eee;
    padding: 2px;
}

.subTabela{
    width: 100%;
}

.hiddenItems{
    display: none;
}
